@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

$dark-blue: hsl(217, 28%, 15%); //(intro and email sign up background)
$dark-blue2: hsl(218, 28%, 13%); //(main background)
$dark-blue3: hsl(216, 53%, 9%); //(footer background)
$dark-blue4: hsl(219, 30%, 18%); //(testimonials background)

$cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$light-red: hsl(0, 100%, 63%); //

$white: hsl(0, 0%, 100%);

*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: $white;
    background-color: $dark-blue;
    // font-family: 'Raleway', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}
